.character-card {
    display: flex;
    margin-top: 2;
}

.character-info {
    flex: 1;
    padding: 16px;
}

.character-info .MuiTypography-h4 {
    font-weight: bold;
}

.character-info .MuiTypography-body1 {
    margin-bottom: 8px;
    color: #555;
}
 
    
  